@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-2;
}

.bg-primary {
  background-color: #81cde4;
}

.bg-secondary {
  background-color: #1f7893;
}

.mobile-nav {
  @apply fixed top-10 left-0 w-full h-1/4;
  background-color: #404a4d;
}

.mobile-nav li {
  @apply w-full h-full text-center border-b-2;
}

.project-description {
  @apply absolute h-[150px] w-[250px] left-0 right-0 bottom-0 top-0 bg-secondary text-center py-10 px-5 opacity-0 duration-500 hover:opacity-100;
}

.btn {
  @apply bg-primary font-bold py-2 px-2 rounded-md hover:border-2 border-white;
}

html {
  scroll-behavior: smooth;
}
